

      <!-- Begin: Content -->
      <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-center -->
        <div class="tray tray-center">

            <!-- Begin: Content Header -->
            <div class="content-header">
              <h2> 个人报销单</h2>
              <p class="lead"></p>
            </div>
 <!-- message listing panel -->
	<div class="admin-form theme-primary mw1000 center-block" style="padding-bottom: 175px;">
          
            <div class="panel  heading-border">
	      
              <!-- message toolbar header -->
              <div class="panel-menu">
                <div class="row">
                  <div class="hidden-xs hidden-sm col-md-3">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default light">
                        <i class="fa fa-refresh"></i>
                      </button>
                      <button type="button" class="btn btn-default light">
                        <i class="fa fa-trash"></i>
                      </button>
			<button type="button" class="btn btn-default light">
                        <i class="fa fa-plus" onclick="javascript:window.location.href='add.html';"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-9 text-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default light">
                        <i class="fa fa-chevron-left"></i>
                      </button>
                      <button type="button" class="btn btn-default light">
                        <i class="fa fa-chevron-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- message listings table -->
              <div class="panel-body pn">
                <table id="message-table" class="table admin-form theme-warning tc-checkbox-1">
                  <thead>
                    <tr class="">
                      <th class="text-center hidden-xs">Select</th>
                      <th class="hidden-xs">事由</th>
                      <th>状态</th>
                      <th class="hidden-xs">创建人</th>
                      <th class="hidden-xs">金额</th>
                      <th class="text-center">创建时间</th>
		      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="message-unread">
                      <td class="hidden-xs">
                        <label class="option block mn">
                          <input type="checkbox" name="mobileos" value="FR">
                          <span class="checkbox mn"></span>
                        </label>
                      </td>
                      <td class="">XX支行瓢饮系统开发出差</td>
                      <td class="hidden-xs">
                        <span class="badge badge-warning mr10 fs11"> 待审核 </span>
                      </td>
                      <td class="">张三</td>
                      <td class="">￥1000.00</td>
                      <td class="text-center fw600">2000-9-9 9:20</td>
                      <td>
				<a href="add.html">修改</a>
				<a href="info.html">查看</a>
		      </td>
                    </tr>
                    <tr class="message-unread">
                      <td class="hidden-xs">
                        <label class="option block mn">
                          <input type="checkbox" name="mobileos" value="FR">
                          <span class="checkbox mn"></span>
                        </label>
                      </td>
                      <td class="">XX支行瓢饮系统开发出差</td>
                      <td class="hidden-xs">
                        <span class="badge badge-warning mr10 fs11"> 待审核 </span>
                      </td>
                      <td class="">张三</td>
                      <td class="">￥1000.00</td>
                      <td class="text-center fw600">2000-9-9 9:20</td>
                      <td>
				<a href="#">修改</a>
				<a href="#">查看</a>
		      </td>
                    </tr>
                    <tr class="message-unread">
                      <td class="hidden-xs">
                        <label class="option block mn">
                          <input type="checkbox" name="mobileos" value="FR">
                          <span class="checkbox mn"></span>
                        </label>
                      </td>
                      <td class="">XX支行瓢饮系统开发出差</td>
                      <td class="hidden-xs">
                        <span class="badge badge-warning mr10 fs11"> 待审核 </span>
                      </td>
                      <td class="">张三</td>
                      <td class="">￥1000.00</td>
                      <td class="text-center fw600">2000-9-9 9:20</td>
                      <td>
				<a href="#">修改</a>
				<a href="#">查看</a>
		      </td>
                    </tr>
                    <tr class="message-unread">
                      <td class="hidden-xs">
                        <label class="option block mn">
                          <input type="checkbox" name="mobileos" value="FR">
                          <span class="checkbox mn"></span>
                        </label>
                      </td>
                      <td class="">XX支行瓢饮系统开发出差</td>
                      <td class="hidden-xs">
                        <span class="badge badge-warning mr10 fs11"> 待审核 </span>
                      </td>
                      <td class="">张三</td>
                      <td class="">￥1000.00</td>
                      <td class="text-center fw600">2000-9-9 9:20</td>
                      <td>
				<a href="#">修改</a>
				<a href="#">查看</a>
		      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <!-- end: .admin-form -->

        </div>
        <!-- end: .tray-center -->
      </section>
      <!-- End: Content -->


