<!-- Start: Sidebar -->
<div id="sidebar_left" class="nano nano-light affix">

    <!-- Start: Sidebar Left Content -->
    <div class="sidebar-left-content nano-content">

        <!-- Start: Sidebar Header -->
        <header class="sidebar-header">

            <!-- Sidebar Widget - Author -->
            <div class="sidebar-widget author-widget">
                <div class="media">
                    <a class="media-left" href="#">
                        <div th:if="${session.current_user.icon != null}">
                            <img th:src="${session.current_user.icon.path}" alt="avatar" class="mw30 br64">
                        </div>
                        <div th:if="${session.current_user.icon == null}">
                            <img th:src="@{/assets/img/avatars/4.jpg}" alt="avatar" class="mw30 br64">
                        </div>
                    </a>
                    <div class="media-body">
                        <div class="media-author">
                            <span th:text="${session.current_user.name}"></span>
                            <span th:text="${session.current_user.post}"></span>
                        </div>
                        <div class="media-links">
                            <a th:href="@{/logout}">退出</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Sidebar Widget - Search (hidden) -->
            <div class="sidebar-widget search-widget hidden">
                <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
                    <input type="text" id="sidebar-search" class="form-control" placeholder="Search...">
                </div>
            </div>

        </header>
        <!-- End: Sidebar Header -->

        <!-- Start: Sidebar Menu -->
        <ul class="nav sidebar-menu">
            <li class="sidebar-label pt20">日常管理</li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-book"></span>
                    <span class="sidebar-title">待处理报销单</span>
                    <span class="sidebar-title-tray">
                <span class="label label-xs bg-primary">New</span>
              </span>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="sidebar-title">个人报销单</span>
                </a>
            </li>
            <li>
                <a href="add.html">
                    <span class="fa fa-calendar"></span>
                    <span class="sidebar-title">填写报销单</span>
                </a>
            </li>
            <li class="sidebar-label pt15">基础信息管理</li>
            <li th:if="${session.current_user.post} == '部门经理' or ${session.current_user.post} == '总经理'">
                <a class="accordion-toggle" href="#">
                    <span class="glyphicon glyphicon-check"></span>
                    <span class="sidebar-title">员工管理</span>
                    <span class="caret"></span>
                </a>
                <ul class="nav sub-nav">
                    <li>
                        <a  th:href="@{/employee/list}">
                            <span class="glyphicon glyphicon-calendar"></span> 所有员工 </a>
                    </li>
                    <li class="active">
                        <a  th:href="@{/employee/to_add}">
                            <span class="glyphicon glyphicon-check"></span> 添加员工 </a>
                    </li>
                </ul>
            </li>
            <li th:if="${session.current_user.post} == '总经理'">
                <a class="accordion-toggle" href="#">
                    <span class="fa fa-columns"></span>
                    <span class="sidebar-title">部门管理</span>
                    <span class="caret"></span>
                </a>
                <ul class="nav sub-nav">
                    <li>
                        <a th:href="@{/department/list}">
                            <span class="glyphicon glyphicon-calendar"></span> 所有部门 </a>
                    </li>
                    <li class="active">
                        <a  th:href="@{/department/to_add}">
                            <span class="glyphicon glyphicon-check"></span> 添加部门 </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- End: Sidebar Menu -->

        <!-- Start: Sidebar Collapse Button -->
        <div class="sidebar-toggle-mini">
            <a href="#">
                <span class="fa fa-sign-out"></span>
            </a>
        </div>
        <!-- End: Sidebar Collapse Button -->

    </div>
    <!-- End: Sidebar Left Content -->

</div>